<picture>

    {{ sources }}

        {{ if srcSetWebp }}
            <source
                type="image/webp"
                {{ if media }}media="{{ media }}"{{ /if }}
                srcset="{{ srcSetWebp }}"
            >
        {{ /if }}

        <source
            {{ if media }}media="{{ media }}"{{ /if }}
            srcset="{{ srcSet }}"
        >

    {{ /sources }}

    <img
        {{ attributeString }}
        src="{{ src }}"
        {{ if width }}width="{{ width }}"{{ /if }}
        {{ if height }}height="{{ height }}"{{ /if }}
    >

</picture>
