<picture>

    {{ sources }}

        {{ if srcSetWebp }}
            <source
                type="image/webp"
                {{ if media }}media="{{ media }}"{{ /if }}
                srcset="{{ srcSetWebp }}"
            >
        {{ /if }}

        <source
            {{ if media }}media="{{ media }}"{{ /if }}
            srcset="{{ srcSet }}"
        >

    {{ /sources }}

    <img
        {{ attributeString }}
        src="{{ src }}"
        {{ if width }}width="{{ width }}"{{ /if }}
        {{ if height }}height="{{ height }}"{{ /if }}
        onload="
            this.onload=null;
            var imgWidth = this.getBoundingClientRect().width;
            this.parentNode.querySelectorAll('source')
                .forEach(function (source) {
                    source.sizes=Math.ceil(imgWidth/window.innerWidth*100)+'vw';
                });
        "
    >

</picture>
