<picture>
    {{ if srcSetWebp }}<source type="image/webp" srcset="{{ srcSetWebp }}" sizes="1px" />{{ /if }}
    <source srcset="{{ srcSet }}" sizes="1px" />
    <img
        {{ attributeString }}
        src="{{ src }}"
        width="{{ width }}"
        {{ if height }}height="{{ height }}"{{ /if }}
        onload="
            this.onload=null;
            var imgWidth = this.getBoundingClientRect().width;
            this.parentNode.querySelectorAll('source')
                .forEach(function (source) {
                    source.sizes=Math.ceil(imgWidth/window.innerWidth*100)+'vw';
                });
        "
    >
</picture>
